$white:        #FFFFFF;
$black:        #000000;

$gray:         #707070;
$dark-gray:    #3E3E3E;

$darkest-blue: #00354D;
$darker-blue:  #004D76;
$dark-blue:    #346888;
$blue:         #1E73A0;
$light-blue:   #429BCB;
$lighter-blue: #9DC6E0;
$lightest-blue:#C1E7FF;

$red:          #FF1717;
$dark-red:     #B31010;

$gold:         #FFA600;
$dark-gold:    #805300;

