$white:        #FFFFFF;
$black:        #000000;

$gray:         #707070;

$darkest-blue: #00354D;
$darker-blue:  #1E73A0;
$dark-blue:    #004D76;
$blue:         #429BCB;
$light-blue:   #9DC6E0;
$lighter-blue: #C1E7FF;

$red:          #FF1717;
$dark-red:     #B31010;

$gold:         #FFA600;
$dark-gold:    #805300;

